.Navbar {
    width: 100vw;
    position: fixed;
    background-color: beige;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: rgb(85, 0, 0);
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}