nav {
    width: 100vw;
    top:0;
    background-color: rgb(65, 65, 7);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: rgb(85, 0, 0);
    font-size: 0.9rem;
    opacity: 0.6;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}